

discord
aiohttp
pip
build
google
cryptography
lxml
attrs
idna
multidict
yarl
chardet
setuptools
Cython
PyQt5
pywhatkit
schedule
bs4
beautifulsoup4
pandas
requests
tqdm
python-dotenv
Pillow
dictpy
fuzzywuzzy
six